<meta charset="UTF-8">
<body>
<form id="myForm" class="form-horizontal" role="form" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">操作</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="id" th:value="${model.id}" id="modelId">
                <div class="form-group">
                    <label for="txt_name" class="col-sm-2 control-label">角色名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" data-th-value="${model.name}" class="form-control" id="txt_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txt_code" class="col-sm-2 control-label">角色代码</label>
                    <div class="col-sm-9">
                        <input type="text" name="code" data-th-value="${model.code}" class="form-control" id="txt_code">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txt_sort" class="col-sm-2 control-label">排序</label>
                    <div class="col-sm-9">
                        <input type="text" name="idx" data-th-value="${model.idx}" class="form-control" id="txt_sort">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="btnSubmit()" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
            </div>
        </div>
    </div>
</form>
</body>

<script th:inline="javascript">
    function btnSubmit() {
        var form= new FormData($("#myForm")[0]);
        $.ajax({
            url: 'role/save',
            type: 'post',
            data: form,
            processData: false,  //不处理数据
            contentType: false,		//不设置内容类型
            success: function(result){
                if(result.success){
                    $("#myModal").modal("hide");
                    bootbox.alert("数据保存成功");
                }else{
                    bootbox.alert(result.msg);
                }
            },
            error: function(result){
                bootbox.alert("数据保存失败！");
            }
        })
    }
</script>
